<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.QUERY_ALL_PACKAGES" />

    <application
        android:name=".YEnvApp"
        android:allowBackup="true"
        android:description="@string/module_description"
        android:icon="@drawable/ic_yenv"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_yenv"
        android:supportsRtl="true"
        android:theme="@style/Theme.YEnv">
        <activity
            android:name=".ui.AppDetailActivity"
            android:exported="false" />
        <activity
            android:name=".ui.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
